
/Sample Scripts
/Technical Scripts
/UTDR Scripts
/Utility Scripts
Resource Exporters/ExportAllAssembly.csx
Resource Exporters/ExportAllCode.csx
Resource Exporters/ExportAllEmbeddedTextures.csx
Resource Exporters/ExportAllFonts.csx
Resource Exporters/ExportAllMasks.csx
Resource Exporters/ExportAllRoomsToPNG.csx
Resource Exporters/ExportAllShaders.csx
Resource Exporters/ExportAllSounds.csx
Resource Exporters/ExportAllSprites.csx
Resource Exporters/ExportAllStrings.csx
Resource Exporters/ExportAllStringsJSON.csx
Resource Exporters/ExportAllTextures.csx
Resource Exporters/ExportAllTexturesGrouped.csx
Resource Exporters/ExportAllTilesets.csx
Resource Exporters/ExportSpecificCode.csx
Resource Exporters/ExportSpecificSprites.csx
Resource Exporters/ExportSpritesAsGIF.csx
Resource Exporters/ExportTextureGroups.csx
Resource Importers/ApplyBasicGraphicsMod.csx
Resource Importers/ImportAllEmbeddedTextures.csx
Resource Importers/ImportAllStrings.csx
Resource Importers/ImportAllStringsJSON.csx
Resource Importers/ImportAllTilesets.csx
Resource Importers/ImportAssembly.csx
Resource Importers/ImportFonts.csx
Resource Importers/ImportGML.csx
Resource Importers/ImportGMS2FontData.csx
Resource Importers/ImportGraphics.csx
Resource Importers/ImportGraphicsAdvanced.csx
Resource Importers/ImportMasks.csx
Resource Importers/ImportShaders.csx
Resource Importers/ImportSingleSound.csx
Resource Importers/ImportSounds.csx
Resource Importers/NewTextureRepacker.csx
Resource Importers/ReduceEmbeddedTexturePages.csx
